body {	
   /* background-image: http://jasonbentley.altervista.org/Project/textured_grey_background.jpg;*/
    background: url("http://jasonbentley.altervista.org/Project/textured_grey_background.jpg");
 	background-size: cover; 
    background-repeat: repeat;

}

    /* Remove the navbar's default rounded borders and increase the bottom margin */ 
    .navbar {
      margin-bottom: 0px;
      border-radius: 0;
    }

.navbar {
      font-family: Montserrat, sans-serif;
      margin-bottom: 0;
      background-color: #2e9cca;
      border: 0;
      font-size: 11px !important;
      letter-spacing: 4px;
      opacity: 0.7; }
      
        .navbar li a, .navbar .navbar-brand { 
      color: #ffffff !important;
  }
  
    .navbar-nav li a:hover {
      color: #ffffff !important;
  }
      
        .navbar-default .navbar-toggle {
      border-color: transparent;
  }